
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #dee4e2; display: flex; justify-content: center;">
    <div class="container">

        <div class="col-6 pt-3 pb-4">
                <p  style="color: #636464; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Proximanente disponible en: </p>
                <img src="assets/images/icon-google-play.png" class="store pr-4">&nbsp;
                <img src="assets/images/icon-app-store.png" class="store">
        </div>

        <div class="col-6">
            <p style="color: #636464; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Nuestra ubicación: </p>
            <small><i class="fa fa-map-marker"  aria-hidden="true"></i> &nbsp;  Calle Cerro Rico S/N Urb. San Ignacio De Monterrico Surco, Perú.</small> <br>
            <small>  <i class="fa fa-car" aria-hidden="true"></i> &nbsp;  Como llegar:  <a  style="color: #000; font-size: 15px;" target="_blank" href="https://www.google.com/maps/dir//Cerro+Rico+176,+Santiago+de+Surco+15803/@-12.1352727,-76.9785278,19z/data=!4m8!4m7!1m0!1m5!1m1!1s0x9105b870e521339d:0xb2ad91eafe25537e!2m2!1d-76.9781523!2d-12.1354218?entry=ttu">

                 Presiona aquí</a></small>
        </div>

    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #007259; justify-content: center;">
    <div class="container">
        <span class="navbar-text text-white animated fadeInDown" style="font-size: 14px;">
            🌍 Powered by:  <a  style="color: #fff;" target="_blank" href="https://surcotenis.pe">Surco Tenis </a>

        </span>
        <span style="color: #fff;">Versión {{version}}</span>
    </div>
  </nav>
