<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #007259;">
    <div class="container">
      <div class="d-flex align-items-center">
        <span class="navbar-text text-white animated fadeInDown" >
          <i class="fas fa-envelope mr-1"></i> tenis@emusssa.com
        </span>
        <span class="navbar-text text-white spacer" style="padding-left: 10px; padding-right: 10px;">|</span>
        <span class="navbar-text text-white animated fadeInDown">
          <i class="far fa-clock mr-1"></i> Lun - Sáb: 06.00 - 22:00
        </span>
      </div>
    </div>
  </nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container animated fadeInDown">
      <a class="navbar-brand" href="" [routerLink]="['/reserve']" routerLinkActive="router-link-active" >
      <img src="assets/logo.png" alt="Logo" width="130" >
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="https://surcotenis.pe">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://surcotenis.pe/nuestro-club/">Club</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://surcotenis.pe/tienda/">Tienda</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://surcotenis.pe/torneos/">Eventos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://surcotenis.pe/contacto/">Contacto</a>
          </li>
      </ul>
    </div>
    <div class="ml-auto">
      <button class="btn btn-success btn-outline"[routerLink]="['/reserve/register']" > <small style="color: #fff"  routerLinkActive="router-link-active" > REGISTRARSE </small></button>&nbsp;
      <button class="btn btn-warning" [routerLink]="['/reserve/login']" > <small style="color: #fff"> ACCEDER USUARIO </small></button>
    </div>
  </div>
</nav>



<div class="cover-container">
    <img src="assets/images/tennis-5782695_1280.jpg" alt="Portada" class="cover-image">
    <div class="cover-caption">
      <h1 class="fw-bold animated fadeInDown">RESERVAS - SURCO TENIS</h1>
    </div>
  </div>