<div class="container pt-5">

    
            
       
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card p-4" >
            <div class="card-content">

                <div class="text-center">
                    <h5 class="fw-bold" style="color: #545252">FORMULARIO DE INSCRIPCIÓN - SURCO TENIS</h5>
                    <img src="assets/logo.png" alt="Logo" width="130" class="pt-2" >

                </div>

        <form class="pt-3">

            <div class="form-group pt-3">
                <!-- <label for="email">Numero de Identificación</label> -->
                <input type="email" class="form-control" id="email" placeholder="Ingrese numero de Identificación">
              </div>

              <div class="form-group pt-3">
                <!-- <label for="email">Nombre</label> -->
                <input type="email" class="form-control" id="email" placeholder="Ingrese su nombre">
              </div>

              <div class="form-group pt-3">
                <!-- <label for="email">Primer apellido</label> -->
                <input type="email" class="form-control" id="email" placeholder="Ingrese su primer apellido">
              </div>

              <div class="form-group pt-3">
                <!-- <label for="email">CSegundo apellido</label> -->
                <input type="email" class="form-control" id="email" placeholder="Ingrese su segundo apellido">
              </div>


              <div class="form-group pt-3">
                <!-- <label for="email">CSegundo apellido</label> -->
                <input type="email" class="form-control" id="email" placeholder="Ingrese se celular | telefono">
              </div>


          <div class="form-group pt-3">
            <!-- <label for="email">Correo electrónico</label> -->
            <input type="email" class="form-control" id="email" placeholder="Ingrese su correo electrónico">
          </div>

          <div class="form-group pt-3">
            <!-- <label for="email">Confirmar correo electrónico</label> -->
            <input type="email" class="form-control" id="email" placeholder="Ingrese su confirmacion de correo electrónico">
          </div>


          <div class="form-group pt-3">
            <!-- <label for="password">Contraseña</label> -->
            <input type="password" class="form-control" id="password" placeholder="Ingrese su contraseña">
          </div>
          <div class="col-12 pt-3 text-center">
            <button type="submit" class="btn btn-success ">ENVIAR SOLICITUD</button>
          </div>

          <div class="col-12 pt-4 text-center">
            <p class="fw-bold" style="color: #545252">¿Ya tienes una cuenta?</p>
          </div>

          <div class="col-12 pt-3 text-center">
            <button type="submit" class="btn btn-outline-warning" [routerLink]="['/reserve/login']" routerLinkActive="router-link-active" >INGRESAR AHORA</button>
          </div>
          
        </form>

    </div>
</div>


      </div>
    </div>
  </div>