<div class="container pt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card p-4">
        <div class="card-content">
          <div class="text-center">
            <h5 class="fw-bold" style="color: #545252">FORMULARIO DE INSCRIPCIÓN - SURCO TENIS</h5>
            <img src="assets/logo.png" alt="Logo" width="130" class="pt-2">
          </div>
          <form class="pt-3" #registerForm="ngForm" (ngSubmit)="registerUser(registerForm.value)">
            <div class="form-group pt-3">
              <select class="form-select" id="tipo_documento" name="tipo_documento" [(ngModel)]="registerForm.value.tipo_documento" required>
                <option value="">Tipo de documento</option>
                <option value="Dni">DNI</option>
                <option value="Nie">NIE</option>
                <option value="Passaporte">Pasaporte</option>
                <option value="Licencia de conducir">Licencia de conducir</option>
                <option value="CURP">CURP</option>
              </select>
            </div>
            <div class="form-group pt-3">
              <input type="text" class="form-control" id="numDocumento" placeholder="Ingrese número de identificación" name="numDocumento" [(ngModel)]="registerForm.value.numDocumento" required>
            </div>
            <div class="form-group pt-3">
              <input type="text" class="form-control" id="nombres" placeholder="Ingrese su nombre" name="nombres" [(ngModel)]="registerForm.value.nombres" required>
            </div>
            <div class="form-group pt-3">
              <input type="text" class="form-control" id="primerApellido" placeholder="Ingrese su primer apellido" name="primerApellido" [(ngModel)]="registerForm.value.primerApellido" required>
            </div>
            <div class="form-group pt-3">
              <input type="text" class="form-control" id="segundoApellido" placeholder="Ingrese su segundo apellido" name="segundoApellido" [(ngModel)]="registerForm.value.segundoApellido" required>
            </div>
            <div class="form-group pt-3">
              <input type="text" class="form-control" id="telefono" placeholder="Ingrese su celular o teléfono" name="telefono" [(ngModel)]="registerForm.value.telefono" required>
            </div>
            <div class="form-group pt-3">
              <input type="email" class="form-control" id="email" placeholder="Ingrese su correo electrónico" name="email" [(ngModel)]="registerForm.value.email" required>
            </div>
            <div class="form-group pt-3">
              <input type="email" class="form-control" id="confirmacionEmail" placeholder="Ingrese la confirmación de su correo electrónico" name="confirmacionEmail" [(ngModel)]="registerForm.value.confirmacionEmail" required>
            </div>
            <div class="form-group pt-3">
              <input type="password" class="form-control" id="password" placeholder="Ingrese su contraseña" name="password" [(ngModel)]="registerForm.value.password" required>
            </div>
            <div class="form-group pt-3">
              <input type="password" class="form-control" id="passwordConfirmation" placeholder="Confirme su contraseña" name="passwordConfirmation" [(ngModel)]="registerForm.value.passwordConfirmation" required>
            </div>
          
            <div class="form-group pt-3">
              <label for="fechaNacimiento">Fecha de Nacimiento</label>
              <input type="date" class="form-control" id="fechaNacimiento" name="fechaNacimiento" [(ngModel)]="registerForm.value.fechaNacimiento" required>
            </div>
            <div class="form-group pt-3">
              <label for="nivel">Nivel</label>
              <select class="form-control" id="nivel" name="nivel" [(ngModel)]="registerForm.value.nivel" required>
                <option value="No juega">No juega</option>
                <option value="quinta">Quinta</option>
                <option value="cuarta">Cuarta</option>
                <option value="tercera">Tercera</option>
                <option value="segunda">Segunda</option>
                <option value="primera">Primera</option>
              </select>
            </div>
            <div class="form-group pt-3">
              <label for="posicion">Posición</label>
              <select class="form-control" id="posicion" name="posicion" [(ngModel)]="registerForm.value.posicion" required>
                <option value="derecha">Derecha</option>
                <option value="independiente">Independiente</option>
                <option value="revez">Revez</option>
              </select>
            </div>
            <div class="form-group pt-3">
              <label for="genero">Género</label>
              <select class="form-control" id="genero" name="genero" [(ngModel)]="registerForm.value.genero" required>
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
                <option value="Otro">Otro</option>
              </select>
            </div>
            <div class="col-12 pt-3 text-center">
              <button type="submit" class="btn btn-success">ENVIAR SOLICITUD</button>
            </div>
            <div class="col-12 pt-4 text-center">
              <p class="fw-bold" style="color: #545252">¿Ya tienes una cuenta?</p>
            </div>
            <div class="col-12 pt-3 text-center">
              <button type="submit" class="btn btn-outline-warning" [routerLink]="['/reserve/login']" routerLinkActive="router-link-active">INGRESAR AHORA</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
