<div class="container pt-5">

    
  <div *ngIf="isLoading" class="loading-overlay">
    <div class="spinner"></div>
    <!-- <div class="row">
      <div class="col-12">
        <p style="font-weight: bold; color: #fff; padding: 10px;"> Espere un momento porfavor...</p>
      </div>
    </div>    -->
  </div>
       
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card p-4  animated fadeIn login-card " >
          <div class="card-content">

              <div class="text-center">
                  <h5 class="fw-bold" style="color: #545252">FORMULARIO DE REGISTRO</h5>
                  <img src="assets/logo.png" alt="Logo" width="130" class="pt-2" >

              </div>

      <form class="pt-3" (ngSubmit)="sendRegister()" [formGroup]="formRegister">

          <div class="row pt-3">

              <div class="col-6">
                  <!-- <label for="email">Numero de Identificación</label> -->

                  <!-- class="custom-select custom-select-lg mb-3" -->
                  <select  class="form-select"  formControlName="tipo_documento" [class.is-invalid]="isControlInvalid('tipo_documento')"
                  [class.is-valid]="isControlValid('tipo_documento')">
                      <option value="">Seleccione tipo</option>
                      <option value="DNI">DNI</option>
                      <option value="Nie">Nie</option>
                      <option value="Pasaporte">Pasaporte</option>
                      <option value="Licencia">Licencia de conducir</option>
                  </select>
                <span *ngIf="isControlInvalid('tipo_documento')" class="text-danger" >Seleccione el tipo</span>

                </div>

              <div class="col-6">
                  <!-- <label for="email">Numero de Identificación</label> -->
                  <input type="number" class="form-control" id="email" placeholder="Numero de Identificación"  formControlName="numDocumento" [class.is-invalid]="isControlInvalid('numDocumento')"
                  [class.is-valid]="isControlValid('numDocumento')" (keyup)="buscarDNI(event)" #event>
                <span *ngIf="isControlInvalid('numDocumento')" class="text-danger" >Ingrese en numero de identificación</span>

                </div>
          </div>
          

            <div class="form-group pt-3">
              <!-- <label for="email">Nombre</label> -->
              <input type="text" class="form-control" id="email" placeholder="Ingrese su nombre"  formControlName="nombres" [class.is-invalid]="isControlInvalid('nombres')"
              [class.is-valid]="isControlValid('nombres')">
              <span *ngIf="isControlInvalid('nombres')" class="text-danger" >Ingrese su nombre</span>

              
            </div>


            <div class="row pt-3">
              <div class="col-6">
                  <!-- <label for="email">Primer apellido</label> -->
                  <input type="text" class="form-control" id="email" placeholder="Primer apellido"  formControlName="primer_apellido" [class.is-invalid]="isControlInvalid('primer_apellido')"
                  [class.is-valid]="isControlValid('primer_apellido')">
                <span *ngIf="isControlInvalid('primer_apellido')" class="text-danger" >Ingrese su apellido</span>

                </div>
  
                <div class="col-6">
                  <!-- <label for="email">CSegundo apellido</label> -->
                  <input type="text" class="form-control" id="email" placeholder="Segundo apellido"  formControlName="segundo_apellido" [class.is-invalid]="isControlInvalid('segundo_apellido')"
                  [class.is-valid]="isControlValid('segundo_apellido')">
                <span *ngIf="isControlInvalid('segundo_apellido')" class="text-danger" >Ingrese su apellido</span>

                </div>
            </div>
            

            <div class="pt-3">
              <small > &nbsp; Seleccione su feha de nacimiento</small>
            </div>


            <div class="row pt-3">
              <div class="col-4">
                <!-- <label for="day">Día</label> -->
                <select class="form-select" id="day" formControlName="dia" (change)="setDay($event)" [class.is-invalid]="isControlInvalid('dia')"
                [class.is-valid]="isControlValid('dia')">
                  <option value=""> Dia</option>
                  <option *ngFor="let dia of dia" [value]="dia.value">{{dia.label}}</option>
                  <!-- Otras opciones de día -->
                </select>
                <span *ngIf="isControlInvalid('dia')" class="text-danger" >Seleccione el dia</span>
              </div>
              <div class="col-4">
                <!-- <label for="month">Mes</label> -->
                <select class="form-select" id="month"  formControlName="mes" (change)="setMonth($event)" [class.is-invalid]="isControlInvalid('mes')"
                [class.is-valid]="isControlValid('mes')">
                  <option value=""> Mes</option>
                  <option *ngFor="let mes of mes" [value]="mes.value">{{mes.label}}</option>
                  <!-- Otras opciones de mes -->
                </select>
                <span *ngIf="isControlInvalid('mes')" class="text-danger" >Seleccione el mes</span>

              </div>
              <div class="col-4">
                <!-- <label for="year">Año</label> -->
                <select class="form-select" id="year"  formControlName="anio" (change)="setYear($event)" [class.is-invalid]="isControlInvalid('anio')"
                [class.is-valid]="isControlValid('anio')">
                  <option value="">Año</option>
                  <option *ngFor="let anio of anio" [value]="anio.value">{{anio.label}}</option>
                  <!-- Otras opciones de año -->
                </select>
                <span *ngIf="isControlInvalid('anio')" class="text-danger" >Seleccione el año</span>

              </div>
            </div>




            <div class="form-group pt-3">
              <!-- <label for="email">Numero de Identificación</label> -->

              <!-- class="custom-select custom-select-lg mb-3" -->
              <select  class="form-select"  formControlName="genero"  [class.is-invalid]="isControlInvalid('genero')"
              [class.is-valid]="isControlValid('genero')">
                  <option value="">Seleccione Genero</option>
                  <option value="M">Masculino</option>
                  <option value="F">Femenino</option>
              </select>
              <span *ngIf="isControlInvalid('genero')" class="text-danger" >Seleccione su genero</span>

            </div>



            <div class="form-group pt-3">
              <!-- <label for="email">CSegundo apellido</label> -->
              <input type="number" class="form-control" id="email" placeholder="Ingrese se celular | telefono"  formControlName="telefono" [class.is-invalid]="isControlInvalid('telefono')"
              [class.is-valid]="isControlValid('telefono')">
              <span *ngIf="isControlInvalid('telefono')" class="text-danger" >Ingrese su telefono</span>

            </div>


        <div class="form-group pt-3">
          <!-- <label for="email">Correo electrónico</label> -->
          <input type="email" class="form-control" id="email" placeholder="Ingrese su correo electrónico"  formControlName="email" [class.is-invalid]="isControlInvalid('email')"
          [class.is-valid]="isControlValid('email')">
          <span *ngIf="isControlInvalid('email')" class="text-danger" >Ingrese su email</span>

        </div>

   


        <div class="form-group pt-3">
          <!-- <label for="password">Contraseña</label> -->
          <input type="text" class="form-control" id="password" placeholder="Ingrese su contraseña"  formControlName="password" [class.is-invalid]="isControlInvalid('password')"
          [class.is-valid]="isControlValid('password')">
          <span *ngIf="isControlInvalid('password')" class="text-danger" >Ingrese su contraseña</span>

        </div>

        <div class="form-group pt-3">
          <!-- <label for="password">Contraseña</label> -->
          <input type="text" class="form-control" id="password" placeholder="Repita su contraseña"  formControlName="passwordConfirmation" [class.is-invalid]="isControlInvalid('passwordConfirmation')"
          [class.is-valid]="isControlValid('passwordConfirmation')">
          <span *ngIf="isControlInvalid('passwordConfirmation')" class="text-danger" >Ingrese la confirmacion de contraseña</span>

        </div>

        <div class="form-group pt-3">
          <select  class="form-select"  formControlName="tipo" [class.is-invalid]="isControlInvalid('tipo')"
          [class.is-valid]="isControlValid('tipo')">
          <option value="">Seleccione tipo de usuario</option>
          <option value="CLIENTE">CLIENTE</option>
          <option value="MENOR">Menores</option>
          <option value="MAYOR">Adulto Mayor</option>
          <option value="VECINO_SI">Vecinos de San Ignacio</option>
          <option value="VECINO_VSP">Vecinos VSP</option>
          </select>
          <span *ngIf="isControlInvalid('tipo')" class="text-danger" >Seleccione el tipo de cliente</span>
        </div> 



        <div class="alert alert-danger mt-3" role="alert">
          * Todos los campos son importantes, las contraseña minimo 8 caracteres.
        </div>


        <!-- <div class="form-group pt-3">
          <select  class="form-select"  formControlName="nivel" [class.is-invalid]="isControlInvalid('nivel')"
          [class.is-valid]="isControlValid('nivel')">
              <option value="">Nivel</option>
              <option value="No Juega">No Juega</option>
              <option value="Quinta">Quinta</option>
              <option value="Cuarta">Cuarta</option>
              <option value="Tercera">Tercera</option>
              <option value="Segunda">Segunda</option>
              <option value="Primera">Primera</option>
          </select>
          <span *ngIf="isControlInvalid('nivel')" class="text-danger" >Seleccione el nivel</span>

        </div>


        <div class="form-group pt-3">
          <select  class="form-select"  formControlName="posicion" [class.is-invalid]="isControlInvalid('posicion')"
          [class.is-valid]="isControlValid('posicion')">
              <option value="">Posición</option>
              <option value="Derecha">Derecha</option>
              <option value="Indiferente">Indiferente</option>
              <option value="Revés">Revés</option>
          </select>
          <span *ngIf="isControlInvalid('posicion')" class="text-danger" >Seleccione la posicion</span>

        </div> -->



        


        <div class="col-12 pt-3 text-center">
          <button type="submit" class="btn btn-success "> <b style="color: #fff"> <i class="fa fa-edit" aria-hidden="true"></i>
            &nbsp;REGISTRARSE </b> </button>
        </div>

        <!-- <div class="col-12 pt-4 text-center">
          <p class="fw-bold" style="color: #545252">¿Ya tienes una cuenta?</p>
        </div>

        <div class="col-12 pt-3 text-center">
          <button type="submit" class="btn btn-outline-warning" [routerLink]="['/reserve/login']" routerLinkActive="router-link-active" >INGRESAR AHORA</button>
        </div> -->
        
      </form>

  </div>
</div>


    </div>
  </div>
</div>

<br><br>