<div class="container pt-5">

  <div *ngIf="isLoading" class="loading-overlay">
    <div class="spinner"></div>
    <p>Cargando localidades...</p>
  </div>
  <div class="row">

    <div class="form-group col-4 pt-3">
      <h4>Seleccione la cancha de preferencia: </h4>
    </div>
   

 
    <div class="form-group col-8 pt-3 pb-5">
      <select  class="form-select" data-style="btn-primary" (change)="updateLocalidad($event)">
        <option >Seleccione una cancha</option>
        <option [value]="data.codLocalidad" *ngFor="let data of localidad" >{{data.nomLocalidad}}</option>
      </select>
    </div>

  </div>


  


    <div class="row">
        
        <div class='demo-app'>

          <div class='demo-app-main'>
            <full-calendar *ngIf='calendarVisible' [options]='calendarOptions'>
              <ng-template #eventContent let-arg>
                <b> {{ arg.timeText }} </b>
                <i class="event-title">{{ arg.event.title }}</i>
              </ng-template>
            </full-calendar>
          
            
            <ng-template #reservationModal let-modal>
              <div class="modal-header">
                <h4 class="modal-title">Crear Reserva</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form (submit)="submitReservationForm()">
                  <label for="startDateTime">Fecha y Hora de Inicio:</label>
                  <input type="datetime-local" id="startDateTime" [(ngModel)]="reservationForm.startDateTime" name="startDateTime" readonly>
                
                  <label for="endDateTime">Fecha y Hora de Fin:</label>
                  <input type="datetime-local" id="endDateTime" [(ngModel)]="reservationForm.endDateTime" name="endDateTime" readonly>
                
                  <label for="name">Nombre de la persona con quien jugará:</label>
                  <input type="text" id="name" [(ngModel)]="reservationForm.name" name="name" required>
                
                  <label for="dni">DNI de la persona con quien jugará:</label>
                  <input type="text" id="dni" [(ngModel)]="reservationForm.dni" name="dni" required>
                
                  <label for="comment">Comentario:</label>
                  <textarea id="comment" [(ngModel)]="reservationForm.comment" name="comment"></textarea>
                
                  <button type="submit">Guardar Reserva</button>
                </form>
                
              </div>
            </ng-template>
            
          </div>
          
        
        </div>
        
    </div>


    <div >
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Carrito de Compra</h5>
            <ul *ngFor="let item of product">
              <!-- <li>{{ item.description }}  => {{ item.amount | currency : "S/. " }}</li> -->
            </ul>
            <section class=" text-center">
              <button (click)="payment()" class="text-white btn btn-sm btn-success">Total a Pagar: </button>
            </section>
          </div>
        </div>
      </div>




    <div class="row text-center" >
        <div class="col-6">
            <button class="btn btn-primary">Abrir pasarela de pagos</button>
        </div>

        <div class="col-6">
            <button class="btn btn-success" (click)="irLogin()">Abrir modal de login</button>
        </div>
    </div>
  </div>



 