<div class="container pt-4">


  <div *ngIf="isLoading" class="loading-overlay">
    <!-- <div class="spinner"></div> -->
    <div class="row">
      <div class="col-12">
        <div class="loading-content">
          <div class="spinner"></div>
          <!-- <p style="font-weight: bold; color: #fff; padding-top: 10px;">Cargando</p> -->
        </div>
      </div>
    </div>
  </div>


  <div class="row">

    <div class="form-group col-5 pt-3">
      <h5 style="font-weight: 500; font-weight: 14px; color: #7E7F7F; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"><i class="fa fa-arrow-circle-right" aria-hidden="true" style="color: #198754;"></i>

        Seleccione la cancha: </h5>
    </div>



    <div class="form-group col-7 pt-2 pb-5">
      <select class="selectpicker form-select custom-select" data-style="btn-info" (change)="updateLocalidad($event)">
        <option [value]="data.codLocalidad" *ngFor="let data of localidad">{{data.nomLocalidad}}</option>
      </select>


      <div class="row pt-3">
        <div class="col-4" style="text-align: right;">
          <small style="font-size: 13px;"><i class="fa fa-circle" aria-hidden="true" style="color: #e2dec8; border: 1px solid #000; border-radius: 30px;"></i> Disponible</small>
        </div>

        <div class="col-3"  style="text-align: right;">
          <small style="font-size: 13px;"><i class="fa fa-circle" aria-hidden="true"  style="color: #F86569; border: 1px solid #000; border-radius: 30px;"></i> Ocupado</small>
        </div>
        <div class="col-3"  style="text-align: right;">
          <small style="font-size: 13px;"><i class="fa fa-circle" aria-hidden="true" style="color: #215282; border: 1px solid #000; border-radius: 30px;"></i> Seleccionado</small>
        </div>
      </div>

    </div>

  </div>





    <div class="row">

        <div class='demo-app'>

          <div class='demo-app-main animated fadeIn'>
            <full-calendar *ngIf='calendarVisible' [options]='calendarOptions'>
              <ng-template #eventContent let-arg>
                <b> {{ arg.timeText }} </b>
                <!-- <b>- 10 min de mantenimiento</b>
                <i class="event-title"> {{ arg.event.title }} </i> -->
              </ng-template>
            </full-calendar>


            <div class="container pt-4 animated fadeIn">


              <div *ngIf="isLoading2" class="loading-overlay">
                <div class="spinner"></div>
                <div class="row">
                  <div class="col-12">
                    <div style="display: flex; align-items: center;">
                      <div class="spinner"></div>
                      <!-- <p style="font-weight: bold; color: #fff; padding: 10px; margin-left: 10px;">Espere un momento por favor...</p> -->
                    </div>
                  </div>
                </div>
              </div>

            <ng-template #reservationModal let-modal>
              <div class="modal-dialog-centered modal-lg">
              <!-- <div class="modal-dialog modal-dialog-centered modal-lg"> -->
                <div class="modal-content">



                  <div class="modal-header bg-success">
                    <div class="card-centered">
                      <div class="card card-image" >
                        <img src="assets/logo.png" alt="Logo" width="70">
                      </div>
                    </div>
                    <h5 class="modal-title" style="color: #fff; margin-left: -70px;">Detalle de reserva</h5>
                    <button type="button" class="btn btn-danger" (click)="modal.dismiss()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>


                  <div class="modal-body">
                    <form (submit)="submitReservationForm3()">


                      <div class="row">
                        <div class="col-6">
                          <label for="startDateTime">Fecha - Hr Inicio:</label>
                          <input type="datetime-local" id="startDateTime" class="form-control" [(ngModel)]="reservationForm.startDateTime" name="startDateTime" readonly>
                        </div>

                        <div  class="col-6">
                          <label for="endDateTime">Fecha - Hr Fin:</label>
                          <input type="datetime-local" id="endDateTime" class="form-control" [(ngModel)]="reservationForm.endDateTime" name="endDateTime" readonly>
                        </div>
                      </div>




                          <div class="form-group mt-1">
                            <label for="price">Precio:</label>
                          </div>
                          <div class="input-group mb-2">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1">S/ </span>
                            </div>
                            <input type="text" id="price" class="form-control" [(ngModel)]="reservationForm.price" name="price"readonly>
                          </div>


                      <div class="form-group">
                        <label for="price">Tiempo de juego:</label>
                        <input type="text" id="timeGame" class="form-control" [(ngModel)]="reservationForm.timeGame" name="timeGame"readonly>
                      </div>

                      <div class="text-center mt-2">
                        <button type="submit" class="btn btn-success">
                          Reserva cancha</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </ng-template>





          </div>


        </div>


    </div>




  </div>


<div class="row pt-3">
  <h5 style="font-size: 16px; color: #7E7F7F;">  Nuestras normas de uso de cancha  <a target="_blank" href="https://surcotenis.pe/recursos/NORMAS%20DE%20USO%20DE%20CANCHA.pdf" style="color: #198754; padding-left: 10px;"> Ver documento </a> </h5>

</div>


<br><br><br>

<!--<ng-template #paymentModal let-modal>
  <div class="modal-header bg-success">
    <div class="card-centered">

    </div>

    <h5 class="modal-title" style="color: #fff; ">Informacion Inportante</h5>
    <button type="button" class="btn btn-danger" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form (submit)="openReservationModal()">


      <div class="row text-center">
        <i class="fa fa-cogs" aria-hidden="true" style="font-size: 40px; color: #7E7F7F; padding-top: 10px;"></i>
        <i class="fas fa-cog fa-spin" style="font-size: 20px; color: #7E7F7F;  padding-top: -10px;"></i>
        <p class="pt-3">Estamos trabajando para brindarle un mejor servicio. Ahora puede reservar su cancha y realizar el pago en caja.</p>
      </div>

      <div class="text-center mt-2">
        <button type="submit" class="btn btn-success">
          Entendido</button>
      </div>
    </form>
  </div>

</ng-template>-->

<ng-template #paymentModal >


  <div  class="form">
    <h1 class="pay-title">{{ title }}</h1>
    <div class="pay-container" >
      <div id="myPaymentForm">
        <div class="kr-smart-form" kr-card-form-expanded ></div>
      </div>
      <div data-test="payment-message">{{ message }}</div>
    </div>
  </div>
</ng-template>








