    <div class="container pt-5">

    
        <div *ngIf="isLoading" class="loading-overlay">
            <!-- <div class="spinner"></div> -->
            <div class="row">
              <div class="col-12">
                <div class="loading-content">
                  <div class="spinner"></div>
                  <!-- <p style="font-weight: bold; color: #fff; padding-top: 10px;">Cargando</p> -->
                </div>
              </div>
            </div>
          </div>
             
        
                  
             
          <div class="row justify-content-center pb-4">
            <div class="col-md-6">
              <div class="card p-4  login-card animated fadeIn" >
                  <div class="card-content">
      
                      <div class="text-center">
                          <h5 class="fw-bold" style="color: #545252">RECUPERAR CONTRASEÑA - SURCO TENIS</h5>
                          <img src="assets/logo.png" alt="Logo" width="130" class="pt-2" >
      
                      </div>
      
              <form (submit)="sendResetRequest()">
                <div class="form-group pt-3 pb-4">
                  <label for="email">Correo electrónico</label>
                  <input [(ngModel)]="email" type="email" class="form-control" id="email" name="email" placeholder="Ingrese su correo electrónico">
                </div>
      
                <div class="col-12 pt-4 text-center">
                  <button type="submit" class="btn btn-warning "><b style="color: #fff"> <i class="fa fa-sign-in" aria-hidden="true"></i>
                    &nbsp; RECUPERAR CONTRASEÑA </b></button>
                </div>
      
                <div class="col-12 pt-4 text-center">
                  <p class="fw-bold" style="color: #545252">¿No tienes cuenta todavía?</p>
                </div>
      
                <div class="col-12 pt-3 text-center">
                  <button class="btn btn-outline-success" [routerLink]="['/reserve/register']" routerLinkActive="router-link-active" >REGISTRATE AHORA</button>
                </div>
                
              </form>
      
          </div>
      </div>
      
      
            </div>
          </div>
        </div>
      
      
        <br><br>
        <br><br>
        <br><br>
        <br><br>    