<div class="container">
  <div class="row pt-4">
      <div class="col-12 text-center">
          <h3 style="color: #036476" class="animated fadeIn">Hola, {{userData.nombre}} </h3>
          <p>Bienvenido a la sección donde tendrás el registro de tus reservas e información personal.</p>
      </div>
  </div>

  <div class="row text-center pt-3">
      <ul class="nav nav-tabs text-center" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
              <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                  role="tab" aria-controls="home" aria-selected="true">
                  Mis reservas
              </button>
          </li>
          <li class="nav-item" role="presentation">
              <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button"
                  role="tab" aria-controls="contact" aria-selected="false">
                  Salir
              </button>
          </li>
      </ul>

      <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <div class="responsive pt-4">
                  <div class="row pb-3" style="text-align: start;">
                      <div class="col-12">
                          <button class="btn btn-success" [routerLink]="['/reserve']" routerLinkActive="router-link-active">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                              Reservar una cancha
                          </button>
                      </div>
                  </div>

                  <div class="table-responsive">
                      <table class="table table-striped pt-3">
                          <thead class="pt-3">
                              <tr>
                                  <th>Codigo</th>
                                  <th>Cancha</th>
                                  <th>Hora Inicio</th>
                                  <th>Hora Fin</th>
                                  <th>Duración</th>
                                  <!-- <th>Estado</th> -->
                                  <th>Fecha registro</th>
                                  <th>Ver Ticket</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let data of reservas">
                                  <td>{{data.codRegistro}}</td>
                                  <td>{{data.nomLocalidad}}</td>
                                  <td>{{data.horainicio}}</td>
                                  <td>{{data.horafinal}}</td>
                                  <td>{{data.duracion}}</td>
                                  <!-- <td>{{data.estadoRegistro}}</td> -->
                                  <!--<td>{{data.fechRegistro | date: 'dd/MM/yyyy '}}</td>-->
                                  <td>{{ data.fechRegistro.slice(0, 10) | date: 'dd/MM/yyyy' }}</td>
                                  <td>
                                      <button class="btn btn-success" (click)="imprimir(data)">
                                          <i class="fa fa-ticket" aria-hidden="true"></i>
                                      </button>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>

          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
              <div class="row pt-5">
                  <div class="col-12">
                      <p>¿Estás seguro de cerrar sesión?</p>
                      <button class="btn btn-danger btn-block" (click)="logout()">Cerrar sesión</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
