/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.btn-warning {
    color: white;
    background-color: #BCCD1E;
    border-color: #BCCD1E
}

.bg-success {
    background-color: #006F57;
}


.fc .fc-daygrid-day.fc-day-today {
    background-color: rgb(229, 248, 225, 0.5) !important;
  }